<!DOCTYPE html>
<html lang="en">
  <!--Acá va el head-->

  <%- include ("./partials/head.ejs") %>

  <body class="body">
    <!--Acá va el header-->

    <%- include ("./partials/header.ejs") %>

    <main class="margin-top-140 margin-top-0">

        <div class="contenedor">
            <img src="/images/background/error.png" class="margin-auto w-100" alt="" >

            <div class="centrado"   >
                <h1>403 ¡Lo sentimos!</h1>
                <p>No tienes permiso para ingresar en esta sección :'(</p>
            </div>
        </div>

     </main>

    <!--Acá va el footer-->
    <%- include ("./partials/footer.ejs") %>
  </body>
</html>
