<!DOCTYPE html>
<html lang="en">
  <!--Acá va el head-->

  <%- include ("./partials/head.ejs") %>

  <body class="body">
    <!--Acá va el header-->

    <%- include ("./partials/header-index.ejs") %>

    <main id="main-content">
    
    <div id="img-header" class="w-100">
      <img src="/images/background/index-header-2.jpg" alt="" width="100%">
      <div>
        Tienda online de productos naturales
      </div>
    </div>
   
    <section class="padding-24 ">
        <div class="content-gift align-center">
          <img src="/images/gift.jpg" class="img-gift ">
          <div class="padding-48 tx-14 tx-medicine text-center">
            <p class="" style="margin-bottom: -16px;">Estas fiestas</p>
            <h2 class="tx-cuidadopiel-claro ">REGALÁ HAMPI</h2>
            <p>Las plantas de interior son una apuesta segura para sacar sonrisas y celebrar cualquier ocasión. 
            Sorprende a esa persona especial con un regalo que durará toda la vida</p>
            <a href="../products" class="tx-verde-musgo" style="text-decoration:underline">
              VER PRODUCTOS
            </a>
          </div>
        </div>
    </section>

    <!--Sección 3 secciones: productos, fitoterapia, filosofia-->
      <section id="three-sections" class="margin-top-16">
        <div class="selec-flex">
          <div class="selec-wrapper">
            <a href="/products">
              <img
                class="secciones"
                src="/images/productos.png"
                alt="Descubre los productos Hampi Yura"
                width="100%"
              />
            </a>
          </div>
          <div class="selec-wrapper">
            <a href="/fitoterapia">
              <img
                class="secciones"
                src="/images/fito.png"
                alt="Fitoterapia"
                width="100%"
              />
            </a>
          </div>
          <div class="selec-wrapper">
            <a href="/infoplantas">
              <img
                class="secciones"
                src="/images/infoplantas.png"
                alt="Descubre las propiedades de las plantas que usamos"
                width="100%"
              />
            </a>
          </div>
        </div>
      </section>

<section class="bg-img-natural">
      
<!-- Valores -->
      
      <div id="valores" class="bg-crema-b padding-24 margin-top-48">
        <div class="margin-bottom-48 text-center">
          <h2 class="tx-verde-musgo">
            Nuestro compromiso con vos y el medio ambiente
          </h2>
          <p class="tx-verde-musgo tx-14">Estamos comprometidos con reducir nuestro impacto medio ambiental.
          Cada compra contribuye a proteger la naturaleza.</p>
        </div>
        <div class="valores-flex text-center">
          <div class=" selec-wrapper-30">
            <div class="valores">
              <i class="fab fa-pagelines"></i>
              <p class="tx-negro">Tinturas madre y microdosis</p>
              <p class="tx-14 text-center">Traemos la naturaleza a tu vida. En Selvaviva queremos ayudarte a reconectar con ella y que disfrutes transformando cualquier espacio en algo mágico.</p>
            </div>
          </div>
          <div class=" selec-wrapper-30">
            <div class="valores">
              <i class="fas fa-air-freshener"></i>
              <p class="tx-negro">Cosmética natural y vegana</p>
              <p class="tx-14 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat velit vel atque nihil natus, veniam, mollitia quisquam labore voluptatibus at pariatur !</p>
            </div>
          </div>
          <div class=" selec-wrapper-30">
            <div class="valores">
              <i class="fas fa-globe-americas"></i>
              <p class="tx-negro">Cuidado del medio ambiente</p>
              <p class="tx-14 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem amet eius in reiciendis dolores voluptas iusto est adipisci doloremque incidunt numquam !</p>
            </div>
          </div>
        </div>
      </div>

      <section>
        <div class="content-medicine align-center">
        <img src="/images/background/hampihome.jpg" class="img-medicina ">
        <div class="padding-48 tx-14 tx-medicine text-center">
          <h3 class="tx-20">Las plantas y sus propiedades</h3>
          <p>La fitoterapia consiste en el tratamiento médico de algunas enfermedades basado en el empleo de plantas y sustancias
          vegetales, y se practica desde hace más de 7.000 años. Para curar una gripe, para aliviar el estrés,
          descasar mejor por la noche, "a veces sólo tenemos que dejar cuidarnos por la naturaleza".</p>
          <a href="../fitoterapia" class="tx-verde-musgo" style="text-decoration:underline">
          LEER MÁS SOBRE SUS PROPIEDADES
           </a>
        </div>
        </div>
      </section>
      <section>
        <div class="content-gift align-center">
          <img src="/images/background/regala.jpg" class="img-medicina ">
          <div class="padding-48 tx-14 tx-medicine text-center">
            <h3 class="tx-20">Regalá Hampi y sumate al cambio</h3>
            <p>Las plantas de interior son una apuesta segura para sacar sonrisas y celebrar cualquier ocasión. 
            Sorprende a esa persona especial con un regalo que durará toda la vida</p>
            <a href="../products" class="tx-verde-musgo" style="text-decoration:underline">
              VER PRODUCTOS
            </a>
          </div>
        </div>
      </section>

      <!--Filosofía-->
            <section id="filo-index">
              <div class="index-filo bg-verde-musgo">
                <div class="filo-wrapper padding-48">
                  <h2 class="text-center tx-blanco">Filosofía Hampi</h2>
                  <p class="tx-blanco text-center interlineado-18">
                    Este proyecto nace con la idea de poder devolverle a este mundo una forma sana de reencontrarnos con nuestras
                    memorias ancestrales a través de las plantas medicinales que la Pachamama nos regala.
                  </p>
                  <a href="../filosofia" class="tx-blanco">
                    <button class=" boton-filo tx-blanco bg-crema  w-100 margin-top-48">Descubrí más sobre
                      nosotrxs</button>
                  </a>
                </div>
              </div>
            </section>

            <!---->
      


      <!-- Incluir partial de product que tenga categoría destacado que pueda ir rotando-->

      <div>
        <h2 class="text-center tx-negro">Productos destacados</h2>
        <div class="contenedor-scroll">
          <div class="padding-16 selec-wrapper-50 selec-wrapper-25">
            <article class="box box-shadow">
              <img
                src="/images/product-images/crema-humectante-dia.png"
                class=" img-dest"
              />
              <div class="padding-8">
                <p class="tx-12">Producto 1</p>
                <p class="tx-12">$12.99</p>
                <div>
                  <button class=" boton-agregar tx-blanco bg-cuidadopiel-oscuro border-button w-100">Agregar</button>
                </div>
              </div>
            </article>
          </div>

          <div class="padding-16 selec-wrapper-50 selec-wrapper-25 margin-left">
            <article class="box box-shadow">
              <img
                src="/images/product-images/shampoo-seco.jpg"
                class=" img-dest"
              />
              <div class="padding-8">
                <p class="tx-12">Producto 2</p>
                <p class="tx-12">$9.99</p>
                <div>
                  <button class=" boton-agregar tx-blanco bg-cuidadopiel-oscuro border-button w-100">Agregar</button>
                </div>
              </div>
            </article>
          </div>

          <div class="padding-16 selec-wrapper-50 selec-wrapper-25 margin-left">
            <article class="box box-shadow">
              <img
                src="/images/product-images/shampoo-rulos.jpg"
                class=" img-dest"
              />
              <div class="padding-8">
                <p class="tx-12">Producto 3</p>
                <p class="tx-12">$17.99</p>
                <div>
                  <button class=" boton-agregar tx-blanco bg-cuidadopiel-oscuro border-button w-100">Agregar</button>
                </div>
              </div>
            </article>
          </div>

          <div class="padding-16 selec-wrapper-50 selec-wrapper-25 margin-left">
            <article class="box box-shadow">
              <img
                src="/images/product-images/pasta-dental.png"
                class=" img-dest"
              />
              <div class="padding-8">
                <p class="tx-12">Producto 4</p>
                <p class="tx-12">$15.99</p>
                <div>
                  <button class=" boton-agregar tx-blanco bg-cuidadopiel-oscuro border-button w-100">Agregar</button>
                </div>
              </div>
            </article>
          </div>
        
            
          </article>
         </div>
        </div>
        </div>
      </section>
      
    </main>

    <!--Acá va el footer-->
    <%- include ("./partials/footer.ejs") %>
  </body>
</html>
