<!DOCTYPE html>
<html lang="en">
  <!--Acá va el head-->
  <%- include ("./partials/head.ejs") %>

  <body class="body">
    <!--Acá va el header-->
    <%- include ("./partials/header.ejs") %>

    <main id="main-content">
      <p>Aquí irán los datos de plantas</p>
    </main>

    <!--Acá va el footer-->
    <%- include ("./partials/footer.ejs") %>
  </body>
</html>
