<!DOCTYPE html>
<html lang="en">
    <!--Ac치 va el head-->
    <%- include("partials/head.ejs") %>

    <body class="body">
        <!--Ac치 va el header-->
        <%- include("partials/header.ejs") %>

        <main id="main-content">
            <!--Ac치 va el header-->
            <!--<div class="container products-wrapper">-->
                
                    <div class="padding-24" >
                        <h2 >Todos los productos</h2>
                    </div>
                    <div class="flex justify-between">
                    <% for(let prod of products){ %> <%-
                    include("partials/product.ejs", {prod:prod}) %> <% } %>
                    </div>
                </div>
            </div>
        </main>

        <!--Ac치 va el footer-->
        <%- include("partials/footer.ejs") %>
    </body>
</html>
