<footer class="bg-crema">
<div id="footer_container">
<div class="flex w-100 justify-between">
    <div id="empresa">
        <ul>
        <b class="tx-blanco ">Empresa</b>
        <br>
        <li>
        <a href="../filosofia">Nuestra filosofía</a>
        </li>
        <li>
        <a href="#">Contacto</a> 
        </li>
        <li>
        <a href="#">Preguntas frecuentes</a>
        </li>
        </ul>
    </div>

    <div id="legal">
        <ul>
        <b class="tx-blanco ">Legal</b>
        <li>
        <a href="#">Términos y condiciones</a>
        </li>
        <li>
        <a href="#">Aviso legal</a>
        </li>
        <li>
        <a href="#">Política de privacidad</a>
        </li>
        </ul>
    </div>

     <div id="logo-footer">
        <a href="/"
        ><img class="logo-hy" src="/images/logo1.png" alt="Logo Hampi Yura"
    /></a>
    </div>
</div>

    <!--<div id="about">
        <ul >
        <li >Vendemos una amplia gama de productos naturales cuidadosamente creados para vos.
        </li>

        <a href="https://www.instagram.com/hampi_yura/">
            <i class="fab fa-instagram"></i>
        </a>
        </ul>
    
        </div>-->

   

</div>    


    
</footer>
