

 <div class="padding-16 selec-wrapper-50 selec-wrapper">
   <a href="/products/<%= prod.id %>">
   <article class="box-shadow padding-bottom-24">
     <img src="images/product-images/<%= prod.image %>" class="img-prod">
     <div class="text-center tx-negro">
        <p><%= prod.name %></p>
        <p>$ <%= prod.price %></p>
        
     </div>
   </article>
   </a>
 </div>

